<div class="homepage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">The Origami Outlet</h1>
            <hr>
        </div>
        <!--This is the welcome page of your website. 
            Add your business name with a call to action 
            to your services/products or contact page. 
            Provide a brief description of why your 
            customers should choose you.-->
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/products']" role="button"><i>Product Gallery</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/contact']" role="button"><i>Contact</i></a>
        </div>
    </div>

    <div class="intro-section">
        <div class="img-wrapper">
            <img class="description-img" src="../../assets/pegasus-1.jpg" alt="placeholder alt text">

            <div class="call-to-action">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to browse more sculptures like this? Take a look at our gallery!</i></a>
            </div>

        </div>

        <div class="description-text">
            <h1 class="cursive-header"><b>origami</b></h1>
            <h2 class="info-text">/ˌɔr ɪˈgɑ mi/ <i>noun.</i></h2>
            <h3 class="info-text"><i>The traditional Japanese art or technique of folding paper into a variety of
                    decorative or representational forms, as of animals or flowers.</i></h3>

            <hr>
            <br>
            <br>

            <img class="description-img-sm" src="../../assets/pegasus-1.jpg" alt="placeholder alt text">
            <div class="call-to-action-sm">
                <a class="btn homepage-btn call-to-action-btn" [routerLink]="['/products']" role="button"><i>Want to browse more sculptures like this? Take a look at our gallery!</i></a>
            </div>

            <h3 class="info-text">We are <i>The Origami Outlet</i>, a small business offering original origami
                sculptures and custom commissions.</h3>

            <h3 class="info-text">As artists, it can be difficult to keep up with the pace of big business. Shopping
                with us helps us keep the store active and supports our passion for mathematical applications through
                art.</h3>
          
        </div>
    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2022 Origami Outlet - All rights reserved. </p>
    </div>
</div>