<div class="aboutpage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">The Origami Outlet</h1>
            <hr>
        </div>
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/products']" role="button"><i>Product Gallery</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/']" role="button"><i>Home</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/contact']" role="button"><i>Contact</i></a>
        </div>
    </div>

    <div class="section-title">
        <h3 class="cursive-subtitle">Company Mission</h3>
        <hr>
        <h3 class="info-text">As a small business, we value each and every one of our interactions with our customers. Our mission is to provide unique, high-quality items to customers, and to show the world the ways in which the seemingly different genres of math and art can intersect.</h3>


        <h3 class="cursive-subtitle">Our Origins</h3>
        <hr>
        <div class="image-and-desc">
            <img class="founders-img" src="../../assets/jenna-brendan-picture.png"
                    alt="A picture of Brendan (left, standing) and Jenna (right, sitting) on the rooftop of a parking deck in Charlotte, NC">

            <h3 class="info-text founder-text">Being a mathematical sciences major at UNC Charlotte, Brendan Mangan has a passion for anything within the STEM field. He has practiced the art of origami for over a decade, and has recently started working with Jenna Hofseth, a computer science student at Clemson University, to publish and market his sculptures. <br><br><br>Today, the two of them work as founders and managers of an online business: The Origami Outlet.</h3>
        </div>

        <h3 class="cursive-subtitle">Our Values</h3>
        <hr>
        <h3 class="info-text"><i>Respect</i>: We promise to respect everyone's identity and personal values, and hope to promote a positive environment for everyone.</h3>
        <h3 class="info-text"><i>Passion</i>: Our origins come from passion, and that drives a great experience for our shoppers. We strive to spread our knowledge of the things we love and enlighten visitors with a new perspective of art and mathematics.</h3>
        <h3 class="info-text"><i>Culture</i>:  We aim to use our creations to advance cultural appreciation and inclusivity for all. Tradition and community are primary focuses of The Origami Outlet, and we seek to embrace any inherent differences in culture. </h3>
    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2022 Origami Outlet - All rights reserved. </p>
    </div>
</div>