<div class="productpage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">The Origami Outlet</h1>
            <hr>
        </div>
        <!--This is the welcome page of your website. 
            Add your business name with a call to action 
            to your services/products or contact page. 
            Provide a brief description of why your 
            customers should choose you.-->
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/']" role="button"><i>Home</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/contact']" role="button"><i>Contact</i></a>
        </div>
    </div>

    <div class="section-title">
        <h3 class="cursive-subtitle">Originals</h3>
        <hr>
        <h3 class="info-text">As of September 2022, the items in our store are limited, one-of-a-kind pieces. If you are
            interested in purchasing one of these sculptures, please navigate to our contact page and send us a bid at
            the specified address.</h3>
        <h3 class="info-text">Paid commissions are also available-- please contact us if you would like to request a commission,
            and we will reach out with further details!</h3>
    </div>

    <div class="items">
        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/pegasus-1.jpg"
                    alt="Original Pegasus Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">Pegasus</h2>
                    <h3 class="product-description product-text">A sculpture of a mythical pegasus using 12" scrapbook paper.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 4"x3"x4"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/dragon-1.jpg"
                    alt="Original Dragon Origami Sculpture Side Right-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Dragon</h2>
                    <h3 class="product-description product-text">A rather complex fold of an ancient dragon, created with 36" square Kraft paper.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 12"x8"x8"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/crab-1.jpg"
                    alt="Original Crab Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Crab</h2>
                    <h3 class="product-description product-text">A tracing paper sculpture of a sea crab.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 4"x3"x1"</h3>

                </div>
            </div>
        </div>



        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/cicada-1.jpg"
                    alt="Original Cicada Origami Sculpture Side Right-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Cicada</h2>
                    <h3 class="product-description product-text">A tracing paper fold of a cicada.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 3"x1"x3"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/crane-1.jpg"
                    alt="Original Crane Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">Crane</h2>
                    <h3 class="product-description product-text">A simple fold of a holographic crane, made out of 12" decorated cardstock.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 6"x6"x4"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/ant-1.jpg" alt="Original Ant Origami Sculpture Angled View">

                <div class="product-body">
                    <h2 class="product-title">Ant</h2>
                    <h3 class="product-description product-text">A tracing paper fold of a gardener ant.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 4"x2"x2"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/dragonfly-1.jpg"
                    alt="Original Dragonfly Origami Sculpture Angled Back View">

                <div class="product-body">
                    <h2 class="product-title">Dragonfly</h2>
                    <h3 class="product-description product-text">A tracing paper sculpture of a common dragonfly.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 3"x4"x1"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/grasshopper-1.jpg"
                    alt="Original Grasshopper Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Grasshopper</h2>
                    <h3 class="product-description product-text">A sculpture of a grasshopper, created with 12" patterned scrapbook paper.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 6"x1"x2"</h3>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="product">
                <img class="product-img" src="../../assets/giraffe-1.jpg"
                    alt="Original Giraffe Origami Sculpture Side Left-Facing View">

                <div class="product-body">
                    <h2 class="product-title">Giraffe</h2>
                    <h3 class="product-description product-text">An extra-small fold of a giraffe, using 3" tracing paper.</h3>
                    <h3 class="product-text"><i>Size Estimate (L x W x H):</i> 1"x1"x2"</h3>

                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2022 Origami Outlet - All rights reserved. </p>
    </div>
</div>