<div class="contactpage-wrapper">
    <div class="title-section">
        <div class="title-wrapper">
            <hr>
            <h1 class="title-text">The Origami Outlet</h1>
            <hr>
        </div>
    </div>

    <div class="navigation-buttons">
        <div class="nav-wrapper">
            <a class="btn btn-primary homepage-btn" [routerLink]="['/about']" role="button"><i>About Us</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/']" role="button"><i>Home</i></a>
            <a class="btn btn-primary homepage-btn" [routerLink]="['/products']" role="button"><i>Product Gallery</i></a>
        </div>
    </div>

    <div class="contact-info">
        <h3 class="cursive-subtitle">Contact Us</h3>
        <hr>
        <h3 class="info-text">If you are looking to place a bid on one of our pieces, want to request a commission, or have any other questions or comments, please use any one of the below contact references to reach out and we will get back to you as soon as possible!</h3>
        <br>
        <h3 class="contact-text"><i>Phone - </i>000.000.0000</h3>
        <h3 class="contact-text"><i>Email Address - </i>service@origamioutlet.com</h3>
        <h3 class="contact-text"><i>Business Hours - </i>Mondays through Fridays, 9:00AM - 6:00PM EST</h3>

    </div>

    <div class="footer">
        <p class="footer-text">Copyright © 2022 Origami Outlet - All rights reserved. </p>
    </div>
</div>